<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Articles</title>
  <link rel="stylesheet" href="../../css/style.css">
</head>

<body>

  <div class="nav">
    <nav class="nav-container">
      <ul class="nav-ul">
        <li class="nav-li-items">Accueil</li>
        <li class="nav-li-items">Articles</li>
        <li class="nav-li-items">Top 100</li>
        <li class="nav-li-items">Contact</li>
      </ul>
    </nav>
  </div>

  <div class="articles">
    <div class="articles-container">
      <div class="articles-titleContainer">
        <h1 class="articles-mainTitle">Articles</h1>
        <div class="articles-titleDecor"></div>
      </div>
      <div class="articles-tagContainer">
        <p class="articles-tagTitles">#restaurant</p>
        <p class="articles-tagTitles">#montagne</p>
        <p class="articles-tagTitles">#mer</p>
        <p class="articles-tagTitles">#forêt</p>
        <p class="articles-tagTitles">#japonais</p>
        <p class="articles-tagTitles">#urban</p>
      </div>
      <div class="articles-stroke"></div>
    </div>
    <div class="articles-imgContainer">
      <a href="#" class="articles-imgLink"><img src="../img/sampleimg1.svg" alt="img" class="articles-imgContent"></a>
      <a href="#" class="articles-imgLink"><img src="../img/sampleimg2.svg" alt="img" class="articles-imgContent"></a>
      <a href="#" class="articles-imgLink"><img src="../img/sampleimg3.svg" alt="img" class="articles-imgContent"></a>
      <a href="#" class="articles-imgLink"><img src="../img/sampleimg4.svg" alt="img" class="articles-imgContent"></a>
      <a href="#" class="articles-imgLink"><img src="../img/sampleimg1.svg" alt="img" class="articles-imgContent"></a>
      <a href="#" class="articles-imgLink"><img src="../img/sampleimg2.svg" alt="img" class="articles-imgContent"></a>
      <a href="#" class="articles-imgLink"><img src="../img/sampleimg3.svg" alt="img" class="articles-imgContent"></a>
      <a href="#" class="articles-imgLink"><img src="../img/sampleimg4.svg" alt="img" class="articles-imgContent"></a>
      <a href="#" class="articles-imgLink"><img src="../img/sampleimg2.svg" alt="img" class="articles-imgContent"></a>
    </div>
  </div>
  <script src="../../index.js"></script>
</body>

</html>